html, body, ul,
h1, h2, h3{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
}

.ProjectContainer{
    border-right: 1px solid black;
}

.tasks{
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 300px;
}

.task,
.add{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.addProject{
    display: flex;
    flex-direction: column;
}